body{
    width: 90% auto;
    margin:30px;
}

img{
    width: 100px;
    height: 100px;
    float:left;
}

header b{
    margin-bottom: 30px;
    margin-top: 35px;
    margin-left: 20px;
    float:left;
    font-size: 30px;
}

nav{
    clear:both;
}

nav ul{
    background-color: red;
    height: 80px;
}

nav ul li{
    display: inline-block;
    text-decoration: none;
    color:white;
    padding: 25px;
}

nav ul li a{
    color: white;
    font-size:30px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: white;
    color:red;
}

nav ul li:hover{
    background-color: white;
    color:red;
}

section{
    height: 200px;
}

footer{
    height: 50px;
    background-color: burlywood;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}




