<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  </head>
  <body>
    {{template "header"}}
    <section>
      <h1>Contact</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo autem, voluptatibus distinctio unde, neque qui quaerat dicta repellat explicabo tempore ducimus ea, saepe numquam optio velit excepturi inventore sunt! Iure.</p>
    </section>
    {{template "footer"}}
  </body>
</html>
